<div class="bg-light p-30 mb-5">
    <div class="border-bottom pt-3 pb-2">
        <div class="d-flex justify-content-between mb-3">
            <h6>Sipariş Toplamı ₺</h6>
            <h6>@ViewBag.ProductValues</h6>   @*Daha sonra düzeltilecek fiyat yanlış gelebilir*@
        </div>
    </div>
</div>