@model UpdateFeatureSliderDto
@{
    ViewData["Title"] = "UpdateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Güncelleme Sayfası</h4>
                <p>Öne Çıknalar ile ilgili Güncelleme işlemlerini aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="FetaureSliderID" />
                        <label>Öne Çıkan Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title"/>
                        <br />
                        <label>Öne Çıkan Detayı(Alt Bilgi)</label>
                        <input type="text" class="form-control" asp-for="Description"/>
                        <br />
                        <label>Öne Çıkan Resmi</label>
                        <input type="text" class="form-control" asp-for="ImageUrl"/>
                        <br />
                        <button class="btn btn-success">Öne Çıkanı Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

