@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Güncelleme Sayfası</h4>
                <p>Ürün ile ilgili güncelleme işlemlerini aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="ProductID" />
                        <label>Ürün Adı</label>
                        <input type="text" class="form-control" asp-for="ProductName" placeholder="Ürün Adını Giriniz" />
                        <br />
                        <label>Fiyat</label>
                        <input type="text" class="form-control" asp-for="ProductPrice" placeholder="Ürünün Fiyatını Giriniz" />
                        <br />
                        <label>Eski Fiyat</label>
                        <input type="text" class="form-control" asp-for="ProductOldPrice" placeholder="Ürünün İndirimsiz Fiyatını Giriniz" />
                        <br />
                        <label>Ürün Resmi</label>
                        <input type="text" class="form-control" asp-for="ProductImageURL" placeholder="Şimdilik Ürün Resminin URL'ini Giriniz" />
                        <br />
                        <label>Ürün Kategorisi</label>
                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.CategoryValues, new { @class = "form-control", @style = "padding:0;" })
                        <br />
                        <label>Ürün Açıklaması</label>
                        <textarea class="form-control" asp-for="ProductDescription" placeholder="Ürün İle İlgili Açıklamaları Giriniz" rows="5"></textarea>
                        <br />
                        <button class="btn btn-success">Ürünü Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
